<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment10</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'cv.css') }}">
    <link rel="stylesheet" href="{{ url_for('uniquestyle') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename = 'cv.js') }}"></script>
    {% include ('welcome.html') %}
</head>
<body>
<h1>Insertion Form</h1>
<form method="POST" , action="/insert_user">
    <input name="firstname" type="text" placeholder="Enter first name Here" required>
    <input name="lastname" type="text" placeholder="Enter last name Here" required>
    <input name="email" type="email" placeholder="Enter email Here" required>
    <input type="submit" onclick="popMessage()">
</form>
<br>
<h1>Update Form</h1>
<form method="POST" , action="/update_user">
    <input name="id" type="text" placeholder="Enter ID Here" required>
    <input name="firstname" type="text" placeholder="Enter first name Here">
    <input name="lastname" type="text" placeholder="Enter last name Here">
    <input name="email" type="email" placeholder="Enter email Here">
    <input type="submit" onclick="popMessage()">
</form>
<br>
<h1>Deletion Form</h1>
<form method="POST" , action="/delete_user">
    <input name="id" type="text" placeholder="Enter ID Here" required>
    <input type="submit" onclick="popMessage()">
</form>
<br>
{% if users %}
    <h1>List of users:</h1>
    <ul>
    {% for user in users %}
        <li>User ID: {{ user.id }} | First Name: {{ user.firstname }} | Last Name: {{ user.lastname }} | Email: {{ user.email }}</li>
    {% endfor %}
{% endif %}
</ul>
</body>
</html>