:root {
  --color1: rgb(20, 163, 197);
  --backgroundColor: rgb(204, 220, 220);
  --normalColor: rgb(27, 34, 34);
  --boldColor: rgb(58, 211, 211);
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 26%;
border: 3px solid black;}
.col-2 {width: 74%;
}
.col-3 {width: 100%;
text-align: center;}

html {
  font-family: Roboto-Black;
  background-color: var(--backgroundColor);
}

@font-face {
    font-family: Roboto-Black;
    src: url("CV/Roboto-Black.ttf");
}
.image {
    width:100%;
    height:auto;
}

h2, h3 {
    color: var(--normalColor)
}

h1 {
    color: var(--color1)
}

.header {
  padding: 15px;
}

@media only screen and (max-width:1000px) {
    [class*="col-"] {width:100%;}
}